//Neutralisers --------------------------------------------------
* {
  margin: 0;
  padding: 0;
}

@media print {
  body {
    background-color: transparent;
  }
}

//Colors -------------------------
$violet: #ad1fea;
$blue: #4661e6;
$blue-1: #62bcfa;
$navy-blue: #373f68;
$navy-blue-1: #3a4374;
$navy-blue-2: #647196;
$peach: #f49f85;
$white: #ffffff;
$white-1: #f2f4ff;
$white-2: #f7f8fd;
$periwinkle: #cfd7ff;

//Fonts -------------------------
$font: "Jost", serif;

@mixin text-preset($weight, $size, $line-height, $letter-spacing: unset) {
  font: {
    family: $font;
    weight: $weight;
    size: $size;
  }
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

.h1 {
  @include text-preset(700, 24px, 35px, -0.33px);
}
.h2,
h2 {
  @include text-preset(700, 20px, 29px, -0.25px);
}
.h3 {
  @include text-preset(700, 18px, 26px, -0.25px);
}
.h4 {
  @include text-preset(700, 14px, 20px, -0.2px);
}
.body-1 {
  @include text-preset(400, 16px, 23px);
}
.body-2 {
  @include text-preset(400, 15px, 22px);
}
.body-3 {
  @include text-preset(600, 13px, 19px);
}

//Responsiveness ---------------------
$xxl: 1440px;
$xl: 1110px;
$lg: 1024px;
$md: 900px;
$sm: 740px;
$xs: 500px;

//Spacing ------------------------------
$space-130: 129px;
$space-90: 90px;
$space-30: 30px;
$space-24: 24px;
$space-15: 15px;
$space-10: 10px;
$space-5: 5px;

//Layout
@mixin flex($direction: row, $gap: $space-30) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  gap: $gap;
}

.container {
  max-width: $xl;
  margin-left: auto;
  margin-right: auto;
  // padding-left: 0.5rem;
  // padding-right: 0.5rem;
}

//Components --------------------------
#root {
  padding-top: $space-90;
  padding-bottom: $space-130;
  background-color: $white-2;
}

//Cards -----------------------------
.cards {
  width: 255px;
  height: 137px;

  @include flex($direction: column, $gap: unset);
}
//Buttons -----------------------------

//Interactive Elements -----------------------------
.stickers {
  padding: $space-5 $space-15;
  background-color: $white-1;
  color: $blue;
}

.stickers--hover:hover {
  background-color: $periwinkle;
}

.stickers--active:active {
  background-color: $blue;
  color: $white;
}
//Form Elements -----------------------------

//Test ---------------------------------
// div {
//   border: 1px dotted red;
// }
