//Neutralisers --------------------------------------------------
* {
  margin: 0;
  padding: 0;
}

@media print {
  body {
    background-color: transparent;
  }
}

//Colors -------------------------
$purple: #ad1fea;
$blue: #4661e6;
$blue-1: #62bcfa;
$navy-blue: #373f68;
$navy-blue-1: #3a4374;
$navy-blue-2: #647196;
$peach: #f49f85;
$white: #ffffff;
$white-1: #f2f4ff;
$white-2: #f7f8fd;

//Fonts -------------------------
$font: "Jost", serif;

@mixin text-preset($weight, $size, $line-height, $letter-spacing: unset) {
  font: {
    family: $font;
    weight: $weight;
    size: $size;
  }
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

.h1 {
  @include text-preset(700, 24px, 35px, -0.33px);
}
.h2 {
  @include text-preset(700, 20px, 29px, -0.25px);
}
.h3 {
  @include text-preset(700, 18px, 26px, -0.25px);
}
.h4 {
  @include text-preset(700, 14px, 20px, -0.2px);
}
.body-1 {
  @include text-preset(400, 16px, 23px);
}
.body-2 {
  @include text-preset(400, 15px, 22px);
}
.body-3 {
  @include text-preset(600, 13px, 19px);
}

//Responsiveness ---------------------
// $xxl: 1536px;
$xl: 1440px;
$lg: 1024px;
$md: 900px;
$sm: 740px;
$xs: 500px;

//Spacing ------------------------------
$space-1100: 88px;
$space-500: 40px;
$space-400: 32px;
$space-300: 24px;
$space-200: 16px;
$space-150: 12px;
$space-100: 8px;
$space-50: 4px;

//Layout
@mixin flex($direction: row, $gap: $space-300) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  gap: $gap;
}

//Components --------------------------
#root {
}

//Buttons -----------------------------
//Interactive Elements -----------------------------
//Form Elements -----------------------------

//Test ---------------------------------
// div {
//   border: 1px dotted red;
// }
