@import "./theme";

.pfa-app {
  @extend .container;
  @include flex();

  .pfa-side--cards {
    @include flex($direction: column, $gap: var(--space-24));
    width: 255px;

    .pfa-board {
      height: 113px;
      @include flex($direction: column, $gap: unset);
      padding: 0 0 var(--space-24) var(--space-24);

      justify-content: end;

      background: rgb(232, 77, 112);
      background: linear-gradient(
        223deg,
        rgba(232, 77, 112, 1) 0%,
        rgba(163, 55, 246, 1) 53%,
        rgba(40, 167, 237, 1) 100%
      );
      border-radius: var(--space-10);

      h2 {
        color: var(--white);
      }
      p {
        @extend .body-2;
        color: var(--white);
      }
    }

    .pfa-categories {
      padding: var(--space-24) 46px var(--space-24) var(--space-28);
      @include flex($direction: row, $gap: var(--space-10));

      background-color: var(--white);
      border-radius: var(--space-10);
    }

    .pfa-roadmap {
      padding: var(--space-19) var(--space-24) var(--space-24) var(--space-24);
      @include flex($direction: column, $gap: var(--space-24));

      background-color: var(--white);
      border-radius: var(--space-10);

      .pfa-roadmap-header {
        @include flex($direction: row, $gap: unset);
        align-items: center;
        .pfa-roadmap-header__h3 {
          color: var(--navy-blue-1);
        }

        .pfa-roadmap-header__a {
          margin-left: auto;
          @extend .body-3;
          color: var(--blue);
        }
      }

      .pfa-roadmap-rows {
        @include flex($direction: column, $gap: var(--space-8));

        .pfa-roadmap-row {
          @include flex($direction: row, $gap: var(--space-8));
          align-items: center;

          .pfa-roadmap-row__p-text {
            @extend .body-1;
            color: var(--navy-blue-2);
          }

          .pfa-roadmap-row__p-number {
            @extend .pfa-roadmap-row__p-text;
            font-weight: bold;
            margin-left: auto;
          }
        }
      }
    }
  }

  .pfa-main {
    width: 825px;
    @include flex($direction: column, $gap: var(--space-24));

    .pfa-main-header {
      padding: var(--space-14) var(--space-16) var(--space-14) var(--space-24);
      @include flex($direction: row, $gap: var(--space-38));
      align-items: center;
      background-color: var(--navy-blue);
      border-radius: var(--space-10);

      .pfa-main-suggestions {
        @include flex($direction: row, $gap: var(--space-16));

        .pfa-main-suggestions__img {
          height: var(--space-24);
        }

        .pfa-main-suggestions__h3 {
          color: var(--white);
        }
      }

      .pfa-main-sort {
        @include flex($direction: row, $gap: var(--space-6));
        align-items: center;
        .pfa-main-sort__p {
          @include text-preset(400, 14px);
          color: var(--white);
        }

        .pfa-main-sort__button {
          border: none;
          background-color: inherit;

          img {
            color: var(--white);
            font-weight: bold;
          }
        }
      }

      .pfa-main__add-feedback-btn {
        height: var(--space-44);
        padding: var(--space-24);
        margin-left: auto;
        display: flex;
        align-items: center;
        border: none;
        border-radius: var(--space-10);
        background-color: var(--violet);
        @extend .h4;
        color: var(--white);
      }
    }

    .pfa-main--cards {
      @include flex($direction: column, $gap: var(--space-20));

      .pfa-main--card {
        padding: var(--space-28) var(--space-32);
        @include flex($direction: row, $gap: var(--space-40));
        background-color: var(--white);
        border-radius: var(--space-10);

        .pfa-main--vote {
          height: 29px;
          padding: var(--space-8);
          display: flex;
          flex-direction: column;
          gap: var(--space-6);
          align-items: center;
          background-color: var(--white-1);
          border-radius: var(--space-10);

          img,
          .pfa-main--vote__p {
            @extend .body-3;
            font-weight: bold;
            color: var(--navy-blue-1);
          }
        }

        .pfa-main--texts {
          @include flex($direction: column, $gap: var(--space-12));
          .pfa-main--titles {
            @include flex($direction: column, $gap: var(--space-6));
            h3 {
              color: var(--navy-blue-1);
            }

            .pfa-main--titles__p {
              @extend .body-1;
              color: var(--navy-blue-2);
            }
          }

          .pfa-main--category__p {
            @extend .stickers;
          }
        }

        .pfa-main--comments {
          margin-left: auto;
          @include flex($direction: row, $gap: var(--space-8));
          align-items: center;
          img {
            width: 18px;
            height: 16px;
          }

          .pfa-main--comments__p {
            @extend .body-1;
            font-weight: bold;
            color: var(--navy-blue-1);
          }
        }
      }
    }
  }
}
