@import "./theme";

.pfa-app {
  @extend .container;
  @include flex();

  .pfa-side-cards {
    @include flex($direction: column, $gap: $space-24);

    .pfa-board {
      @extend .cards;
      padding: 0 0 $space-24 $space-24;

      justify-content: end;

      background: rgb(232, 77, 112);
      background: linear-gradient(
        223deg,
        rgba(232, 77, 112, 1) 0%,
        rgba(163, 55, 246, 1) 53%,
        rgba(40, 167, 237, 1) 100%
      );
      border-radius: $space-10;

      h2 {
        color: $white;
      }
      p {
        @extend .body-2;
        color: $white;
      }
    }

    .pfa-categories {
      @extend .cards;
      padding: 24px 46px 24px 28px;
      background-color: $white;
    }
  }
}
